<div class="container mx-auto px-4 py-6 flex-1">
  <% if notice.present? %>
    <p class="alert alert-success shadow-lg" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="text-4xl font-bold"><%= t('hotel.hotels.plural') %></h1>
    <%= link_to t('hotel.new_hotel'), new_dashboard_hotel_path, class: "btn btn-primary" %>
  </div>

  <div class="overflow-x-auto">
    <table class="table w-full">
      <thead class="table-header">
      <tr>
        <th class="text-left">ID</th>
        <th class="text-left"><%= t('general.name') %></th>
        <th class="text-left"><%= t('general.manager') %></th>
        <th class="text-left"><%= t('general.actions') %></th>
      </tr>
      </thead>
      <tbody>
      <% @hotels.each do |hotel| %>
        <tr class="hover">
          <td><%= hotel.id %></td>
          <td><%= hotel.name %></td>
          <td><%= hotel.user&.username || "Unassigned" %></td>
          <td class="flex justify-center gap-1">
            <%= link_to t('hotel.edit_hotel'), edit_dashboard_hotel_path(hotel), class: "btn btn-sm btn-primary" %>
            <%= button_to t('hotel.delete_hotel'), hotel, method: :delete, class: "btn btn-sm btn-error" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
