<div class="flex justify-center items-center h-screen">
  <div class="card max-w-md shadow-md">
    <% if alert = flash[:alert] %>
      <p class="alert alert-error shadow-lg mb-5" id="alert"><%= alert %></p>
    <% end %>
    <% if notice = flash[:notice] %>
      <p class="alert alert-success shadow-lg mb-5" id="notice"><%= notice %></p>
    <% end %>
    <h1 class="card-title font-bold text-4xl"><%= t('auth.log_in') %></h1>
    <%= form_with url: session_path do |form| %>
      <div class="card-body">
        <div class="form-control my-5">
          <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "email", placeholder: t('auth.email'), value: params[:email_address], class: "input input-bordered w-full" %>
        </div>
        <div class="form-control my-5">
          <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: t('auth.password'), maxlength: 72, class: "input input-bordered w-full" %>
        </div>
        <div class="form-control my-5 flex items-center">
          <%= form.check_box :is_employee, id: "is_employee_checkbox", class: "checkbox mr-2" %>
          <label for="is_employee_checkbox" class="label-text"><%= t('auth.is_employee') %></label>
        </div>
        <div class="form-control my-5 hidden" id="employee_id_input">
          <%= form.text_field :employee_id, placeholder: t('auth.employee_id'), class: "input input-bordered w-full" %>
        </div>
        <div class="form-control mt-6">
          <div class="flex justify-center">
            <%= form.submit t('auth.log_in'), class: "btn btn-primary" %>
          </div>
          <div class="mt-4 text-sm text-gray-500">
            <%= link_to t('auth.forgot_password'), new_password_path, class: "link link-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const checkbox = document.getElementById("is_employee_checkbox");
        const employeeIdInput = document.getElementById("employee_id_input");

        checkbox.addEventListener("change", function () {
            if (checkbox.checked) {
                employeeIdInput.classList.remove("hidden");
            } else {
                employeeIdInput.classList.add("hidden");
            }
        });
    });
</script>
