<%= form_with(model: room, class: "contents") do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>
      <ul class="list-disc ml-6">
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label "Actual Room ID" %>
    <%= form.text_field :actual_room_id, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": room.errors[:actual_room_id].none?, "border-red-400 focus:outline-red-600": room.errors[:actual_room_id].any?}], placeholder: "Hotel Room ID" %>
  </div>
  <div class="my-5">
    <%= form.label :available %>
    <%= form.checkbox :available, class: ["block shadow-sm rounded-md border outline-hidden mt-2 h-5 w-5", {"border-gray-400 focus:outline-blue-600": room.errors[:available].none?, "border-red-400 focus:outline-red-600": room.errors[:available].any?}] %>
  </div>
  <div class="my-5">
    <%= form.label :hotel_id %>
    <%= form.select :hotel_id, @hotels.collect { |r| [r.name, r.id] }, { prompt: "Select Hotel" }, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": room.errors[:hotel_id].none?, "border-red-400 focus:outline-red-600": room.errors[:hotel_id].any?}] %>
  </div>
  <div class="my-5">
    <%= form.label :room_type_id %>
    <%= form.select :room_type_id, @room_types.collect { |r| [r.name, r.id] }, { prompt: 'Select Room Type' }, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": room.errors[:room_type_id].none?, "border-red-400 focus:outline-red-600": room.errors[:room_type_id].any?}] %>
  </div>
  <div class="my-5">
    <%= form.label :thumbnail, style: "display: block" %>
    <%= form.file_field :thumbnail, accept: "image/*" %>
  </div>
  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
