<div class="container mx-auto px-4 py-6 dark:bg-zinc-950 dark:text-zinc-300">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl"><%= t('rooms.rooms.plural') %></h1>
    <%= link_to t('rooms.new_room'), new_dashboard_room_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="overflow-x-auto">
    <table class="min-w-full dark:bg-zinc-800 border border-zinc-700 rounded-lg shadow">
      <thead class="dark:bg-zinc-700 border-b">
      <tr>
        <th class="text-left p-3 font-medium"><%= t('rooms.room_id') %></th>
        <th class="text-left p-3 font-medium"><%= t('room_types.room_type') %></th>
        <th class="text-left p-3 font-medium"><%= t('general.thumbnail') %></th>
        <th class="text-left p-3 font-medium"><%= t('general.actions') %></th>
      </tr>
      </thead>
      <tbody>
      <% @rooms.each do |room| %>
        <tr class="border-b border-zinc-700 hover:bg-zinc-750">
          <td class="p-3"><%= room.id %></td>
          <td class="p-3"><%= room.room_type&.name %></td>
          <td class="p-3"><%= image_tag room.thumbnail, class: "w-28 h-20 rounded-sm" if room.thumbnail.attached? %></td>
          <td class="p-3 flex flex-row gap-3">
            <%= link_to t('rooms.edit_room'), edit_dashboard_room_path(room), class: "px-3 py-1 bg-blue-500 text-white rounded hover:bg-blue-600" %>
            <%= button_to t('rooms.delete_room'), dashboard_room_path(room), method: :delete, data: { confirm: t('general.are_you_sure') }, class: "px-3 py-1 bg-red-500 text-white rounded hover:bg-red-600 cursor-pointer" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>