<div class="container mx-auto px-4 py-6">
  <div class="flex justify-between items-center">
    <h1 class="text-4xl font-bold"><%= t('rooms.rooms.plural') %></h1>
    <%= link_to t('rooms.new_room'), new_dashboard_room_path, class: "btn btn-primary" %>
  </div>

  <% if notice.present? %>
    <p class="alert alert-success shadow-lg" id="notice"><%= notice %></p>
  <% end %>

  <div class="overflow-x-auto">
    <table class="table w-full">
      <thead class="table-header">
      <tr>
        <th class="text-left"><%= t('rooms.room_id') %></th>
        <th class="text-left"><%= t('room_types.room_type') %></th>
        <th class="text-left"><%= t('general.thumbnail') %></th>
        <th class="text-left"><%= t('general.actions') %></th>
      </tr>
      </thead>
      <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td><%= room.id %></td>
          <td><%= room.room_type&.name %></td>
          <td><%= image_tag room.thumbnail, class: "w-28 h-20 rounded-sm" if room.thumbnail.attached? %></td>
          <td class="flex justify-center gap-3">
            <%= link_to t('rooms.edit_room'), edit_dashboard_room_path(room), class: "btn btn-sm btn-primary" %>
            <%= button_to t('rooms.delete_room'), dashboard_room_path(room), method: :delete, data: { confirm: t('general.are_you_sure') }, class: "btn btn-sm btn-error" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
