<nav class="bg-zinc-200 dark:bg-zinc-900 flex flex-row items-center gap-5 p-4 w-full fixed top-0">
  <a class="text-3xl" href="/">Awaza</a>
  <ul class="flex flex-row gap-3 items-center justify-between w-full list-none m-0 p0">
    <div class="flex items-center gap-3">
      <% [
           { name: t('home'), path: root_path },
           { name: t('hotel.hotels.plural'), path: hotels_path },
         ].each do |item| %>
        <li class="">
          <%= link_to item[:name],
                      item[:path],
                      data: { turbo: "true" },
                      class: " #{'font-bold' if current_page?(item[:path])}",
                      aria: { current: current_page?(item[:path]) ? "page" : nil } %>
        </li>
      <% end %>
      <% if @user&.admin? %>
        <%= link_to t('dashboard'),
                    dashboard_path,
                    class: "border-1 border-green-600 rounded-md p-2 hover:opacity-81 cursor-pointer active:opacity-60 #{'font-bold' if current_page?(new_registration_path)}" %>
      <% end %>
    </div>
    <div class="flex items-center gap-3">
      <button
        data-controller="theme"
        data-action="click->theme#toggle"
        class="p-2 bg-gray-500 cursor-pointer rounded-md dark:bg-gray-800 text-gray-800 dark:text-gray-200"
      >
        Toggle Dark Mode
      </button>
      <% unless helpers.authenticated? %>
        <li class="nav-item">
        <li class="nav-item">
          <%= link_to t('auth.sign_up'),
                      new_registration_path,
                      data: { turbo: "true" },
                      class: "rounded-md p-2 bg-green-500 hover:opacity-81 cursor-pointer active:opacity-60#{'font-bold' if current_page?(new_registration_path)}",
                      aria: { current: current_page?(new_registration_path) ? "page" : nil } %>
        </li>
        <li class="nav-item">
          <%= link_to t('auth.log_in'),
                      new_session_path,
                      data: { turbo: "true" },
                      class: "rounded-md p-2 border-1 border-green-800 hover:opacity-81 cursor-pointer active:opacity-60 #{'font-bold' if current_page?(new_session_path)}",
                      aria: { current: current_page?(new_session_path) ? "page" : nil } %>
        </li
      <% end %>
      <li class="nav-item">
        <% if helpers.authenticated? %>
          <%= button_to t('auth.log_out'), session_path, method: :delete, class: "rounded-md p-2 bg-red-500 hover:opacity-81 cursor-pointer active:opacity-60" %>
        <% end %>
      </li>
      <%= render 'index/lang_switch' %>
    </div>
  </ul>
</nav>
