<div class="container mx-auto px-4 py-6">
  <% if notice.present? %>
    <p class="alert alert-success shadow-lg" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="text-4xl font-bold"><%= t('room_types.room_types.plural') %></h1>
    <%= link_to t('room_types.new_room_type'), new_dashboard_room_type_path, class: "btn btn-primary" %>
  </div>

  <div class="overflow-x-auto">
    <table class="table w-full table-zebra">
      <thead class="table-header">
      <tr>
        <th class="text-left">ID</th>
        <th class="text-left"><%= t('general.name') %></th>
        <th class="text-left"><%= t('hotel.name') %></th>
        <th class="text-left"><%= t('general.actions') %></th>
      </tr>
      </thead>
      <tbody>
      <% @room_types.each do |room_type| %>
        <tr>
          <td><%= room_type.id %></td>
          <td><%= room_type.name %></td>
          <td><%= room_type.hotel.name %></td>
          <td class="flex justify-center gap-1">
            <%= link_to t('general.edit'), edit_dashboard_room_type_path(room_type, hotel_id: room_type.hotel.id), class: "btn btn-sm btn-primary" %>
            <%= button_to t('general.delete'), dashboard_room_type_path(room_type), method: :delete, class: "btn btn-sm btn-error" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
