<div class="container mx-auto px-4 py-6">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Room Types</h1>
    <%= link_to "New Room Type", new_dashboard_room_type_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div class="overflow-x-auto">
    <table class="min-w-full bg-white border border-gray-300 rounded-lg shadow">
      <thead class="bg-gray-100 border-b">
      <tr>
        <th class="text-left p-3 font-medium">ID</th>
        <th class="text-left p-3 font-medium">Name</th>
        <th class="text-left p-3 font-medium">Hotel</th>
        <th class="text-left p-3 font-medium">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @room_types.each do |room_type| %>
        <tr class="border-b hover:bg-gray-50">
          <td class="p-3"><%= room_type.id %></td>
          <td class="p-3"><%= room_type.name %></td>
          <td class="p-3"><%= room_type.hotel.name %></td>
          <td class="p-3">
            <%= link_to "Edit", edit_dashboard_room_type_path(room_type, hotel_id: room_type.hotel.id), class: "px-3 py-1 bg-blue-500 text-white rounded hover:bg-blue-600" %>
            <%= button_to "Destroy this Room Type", dashboard_room_type_path(room_type), method: :delete, class: "mt-2 rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
