<%= form_with(model: [@hotel, @room_type], local: true, class: "contents", data: { controller: "room-select" }) do |form| %>
  <% if room_type.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(room_type.errors.count, "error") %> <%= t('activerecord.errors.messages.record_invalid', errors: room_type.errors.count) %>:</h2>
      <ul class="list-disc ml-6">
        <% room_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5 flex flex-col">
    <%= form.label t('general.name'), class: "" %>
    <%= form.text_field :name, class: ["input", {"border-gray-400 focus:outline-blue-600": room_type.errors[:name].none?, "border-red-400 focus:outline-red-600": room_type.errors[:name].any?}] %>
  </div>

  <div class="my-5 flex flex-col">
    <%= form.label t('general.price'), class: "" %>
    <%= form.number_field :price, class: ["input", {"border-gray-400 focus:outline-blue-600": room_type.errors[:price].none?, "border-red-400 focus:outline-red-600": room_type.errors[:price].any?}] %>
  </div>

  <div class="my-5 flex flex-col">
    <%= form.label t('general.features'), class: "" %>
    <%= form.rich_text_area :features, rows: 4, class: ["", {"border-gray-400 focus:outline-blue-600": room_type.errors[:features].none?, "border-red-400 focus:outline-red-600": room_type.errors[:features].any?}] %>
  </div>

  <div class="my-5 flex flex-col">
    <%= form.label t('general.extra_info'), class: "" %>
    <%= form.rich_text_area :extra_info, rows: 4, class: ["", {"border-gray-400 focus:outline-blue-600": room_type.errors[:extra_info].none?, "border-red-400 focus:outline-red-600": room_type.errors[:extra_info].any?}] %>
  </div>

  <div class="my-5 flex flex-col">
    <%= form.label t('hotel.hotel_id'), class: "" %>
    <%= form.select :hotel_id,
                    @hotels.collect { |r| [r.name, r.id] },
                    { prompt: t('hotel.select_hotel') },
                    class: ["input", {
                      "border-gray-400 focus:outline-blue-600": @room_type.errors[:hotel_id].none?,
                      "border-red-400 focus:outline-red-600": @room_type.errors[:hotel_id].any?
                    }],
                    data: { "room-select-target": "hotel", action: "change->room-select#updateRooms" } %>
  </div>

  <div class="my-5 flex flex-col">
    <%= form.label t('rooms.room_id'), class: "" %>
    <%= form.select :room_id,
                    (@rooms.present? ? @rooms.collect { |r| [r.actual_room_id, r.id] } : []),
                    { prompt: t('rooms.select_room') },
                    class: ["input", {
                      "border-gray-400 focus:outline-blue-600": @room_type.errors[:room_id].none?,
                      "border-red-400 focus:outline-red-600": @room_type.errors[:room_id].any?
                    }],
                    data: { "room-select-target": "rooms" } %>
  </div>

  <div class="my-5 flex flex-col">
    <%= form.label t('room_types.capacity'), class: "" %>
    <%= form.number_field :capacity, class: ["input", {"border-gray-400 focus:outline-blue-600": room_type.errors[:capacity].none?, "border-red-400 focus:outline-red-600": room_type.errors[:capacity].any?}] %>
  </div>

  <div class="my-5  flex flex-col">
    <%= form.label t('general.thumbnail'), style: "display: block", class: "" %>
    <%= form.file_field :thumbnail, accept: "image/*", class: "file-input" %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>