<%= form_with(model: [booking], class: "contents") do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
      <ul class="list-disc ml-6">
        <% booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :check_in %>
    <%= form.date_field :check_in, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": booking.errors[:check_in].none?, "border-red-400 focus:outline-red-600": booking.errors[:check_in].any?}] %>
  </div>
  <div class="my-5">
    <%= form.label :check_out %>
    <%= form.date_field :check_out, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": booking.errors[:check_out].none?, "border-red-400 focus:outline-red-600": booking.errors[:check_out].any?}] %>
  </div>
  <div class="my-5">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": booking.errors[:user_id].none?, "border-red-400 focus:outline-red-600": booking.errors[:user_id].any?}] %>
  </div>
  <div class="my-5">
    <%= form.label :hotel_id %>
    <%= form.text_field :hotel_id, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": booking.errors[:hotel_id].none?, "border-red-400 focus:outline-red-600": booking.errors[:hotel_id].any?}] %>
  </div>
  <div class="my-5">
    <%= form.label :rooms_id %>
    <%= form.collection_select :rooms_id, Room.all, :id, :actual_room_id, { multiple: true }, class: 'form-control' %>
    <% form.fields_for :rooms do |room_form| %>
    <% end %>
  </div>
  <div class="my-5">
    <%= form.label :total_price %>
    <%= form.number_field :total_price, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": booking.errors[:total_price].none?, "border-red-400 focus:outline-red-600": booking.errors[:total_price].any?}] %>
  </div>
  <div class="my-5">
    <%= form.label :guests %>
    <%= form.number_field :guests, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": booking.errors[:guests].none?, "border-red-400 focus:outline-red-600": booking.errors[:guests].any?}] %>
  </div>
  <div class="my-5">
    <%= form.label :is_cancelled %>
    <%= form.checkbox :is_cancelled, class: ["block shadow-sm rounded-md border outline-hidden mt-2 h-5 w-5", {"border-gray-400 focus:outline-blue-600": booking.errors[:is_cancelled].none?, "border-red-400 focus:outline-red-600": booking.errors[:is_cancelled].any?}] %>
  </div>
  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
