<div class="flex justify-center items-center h-screen">
  <div class="mx-10 md:m-0">
    <% if alert = flash[:alert] %>
      <p class="alert alert-error shadow-lg mb-5" id="alert"><%= alert %></p>
    <% end %>
    <% if notice = flash[:notice] %>
      <p class="alert alert-success shadow-lg mb-5" id="notice"><%= notice %></p>
    <% end %>
    <h1 class="font-bold text-4xl"><%= t('auth.sign_up') %></h1>
    <%= form_with model: @user, url: registration_url, class: "contents" do |form| %>
      <div class="form-control my-5">
        <%= form.text_field :username, required: true, autofocus: true, autocomplete: "username", placeholder: t('auth.username'), value: params[:username], class: "input input-bordered w-full" %>
      </div>
      <div class="form-control my-5">
        <%= form.email_field :email_address, required: true, autocomplete: "username", placeholder: t('auth.email'), value: params[:email_address], class: "input input-bordered w-full" %>
      </div>
      <div class="form-control my-5">
        <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: t('auth.password'), maxlength: 72, class: "input input-bordered w-full" %>
      </div>
      <div class="form-control my-5">
        <%= form.password_field :password_confirmation, required: true, autocomplete: "current-password", placeholder: t('auth.confirm_password'), maxlength: 72, class: "input input-bordered w-full" %>
      </div>
      <div class="form-control mt-6">
        <div class="flex justify-center">
          <%= form.submit t('auth.sign_up'), class: "btn btn-primary" %>
        </div>
      </div>
      <%= form.hidden_field :role, value: :user  %>
    <% end %>
  </div>
</div>