<%= form_with(model: [@hotel, @room_type], local: true, class: "contents") do |form| %>
  <% if room_type.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(room_type.errors.count, "error") %> prohibited this room_type from being saved:</h2>
      <ul class="list-disc ml-6">
        <% room_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label t('general.name') %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", { "border-gray-400 focus:outline-blue-600": room_type.errors[:name].none?, "border-red-400 focus:outline-red-600": room_type.errors[:name].any? }] %>
  </div>
  <div class="my-5">
    <%= form.label t('general.price') %>
    <%= form.number_field :price, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", { "border-gray-400 focus:outline-blue-600": room_type.errors[:price].none?, "border-red-400 focus:outline-red-600": room_type.errors[:price].any? }] %>
  </div>
  <div class="my-5">
    <%= form.label t('general.features') %>
    <%= form.rich_text_area :features, rows: 4, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", { "border-gray-400 focus:outline-blue-600": room_type.errors[:features].none?, "border-red-400 focus:outline-red-600": room_type.errors[:features].any? }] %>
  </div>
  <div class="my-5">
    <%= form.label t('general.extra_info') %>
    <%= form.rich_text_area :extra_info, rows: 4, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", { "border-gray-400 focus:outline-blue-600": room_type.errors[:extra_info].none?, "border-red-400 focus:outline-red-600": room_type.errors[:extra_info].any? }] %>
  </div>
  <div class="my-5">
    <%= form.label t('hotel.hotel_id') %>
    <%= form.select :hotel_id, @hotels.collect { |r| [r.name, r.id] }, { prompt: 'Select Hotel' }, class: 'form-control' %>
  </div>
  <div class="my-5">
    <%= form.label t('rooms.room_id') %>
    <%= form.select :room_id, @rooms.collect { |r| [r.actual_room_id, r.id] }, { prompt: 'Select Room' }, class: 'form-control' %>
  </div>
  <div class="my-5">
    <%= form.label t('room_types.capacity') %>
    <%= form.number_field :capacity, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", { "border-gray-400 focus:outline-blue-600": room_type.errors[:capacity].none?, "border-red-400 focus:outline-red-600": room_type.errors[:capacity].any? }] %>
  </div>
  <div class="my-5">
    <%= form.label t('general.thumbnail'), style: "display: block" %>
    <%= form.file_field :thumbnail, accept: "image/*" %>
  </div>
  <div class="inline">
    <%= form.submit t("room_types.form.submit.#{form_action}"), class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
