<%= form_with(model: room, class: "contents") do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation" class="bg-red-50 dark:text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(room.errors.count, "error") %> <%= t('activerecord.errors.messages.record_invalid', errors: room.errors.count) %>:</h2>
      <ul class="list-disc ml-6">
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5 flex flex-col">
    <%= form.label t('rooms.room_id'), class: "" %>
    <%= form.text_field :actual_room_id, class: ["input", {"border-gray-400 focus:outline-blue-600": room.errors[:actual_room_id].none?, "border-red-400 focus:outline-red-600": room.errors[:actual_room_id].any?}], placeholder: t('rooms.room_id') %>
  </div>

  <div class="my-5 flex flex-col">
    <%= form.label t('rooms.available'), class: "" %>
    <%= form.check_box :available, class: ["checkbox", {"border-gray-400 focus:outline-blue-600": room.errors[:available].none?, "border-red-400 focus:outline-red-600": room.errors[:available].any?}] %>
  </div>

  <div class="my-5 flex flex-col">
    <%= form.label t('hotel.hotel_id'), class: "" %>
    <%= form.select :hotel_id, @hotels&.collect { |r| [r.name, r.id] } || [], { prompt: t('hotel.select_hotel') }, class: ["input", {"border-gray-400 focus:outline-blue-600": room.errors[:hotel_id].none?, "border-red-400 focus:outline-red-600": room.errors[:hotel_id].any?}] %>
  </div>

  <div class="my-5 flex flex-col">
    <%= form.label t('room_types.room_types.plural') + " ID", class: "" %>
    <%= form.select :room_type_id, @room_types&.collect { |r| [r.name, r.id] } || [], { prompt: t('room_types.select_room_type') }, class: ["btn btn-dropdown", {"border-gray-400 focus:outline-blue-600": room.errors[:room_type_id].none?, "border-red-400 focus:outline-red-600": room.errors[:room_type_id].any?}] %>
  </div>

  <div class="my-5 flex flex-col">
    <%= form.label t('general.thumbnail'), style: "display: block", class: "" %>
    <%= form.file_field :thumbnail, accept: "image/*", class: "file-input" %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>