<div class="flex flex-col p-4 shadow rounded-md max-w-72 min-h-64" id="<%= dom_id hotel %>">
  <%= image_tag hotel.thumbnail, class: "max-w-full" if hotel.thumbnail.attached? %>
  <p class="">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= hotel.name %>
  </p>
  <p class="">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= hotel.description %>
  </p>
  <p class="">
    <strong class="block font-medium mb-1">Rating:</strong>
    <%= hotel.rating %>
  </p>
  <p>
    <%= link_to "Show this hotel", hotel, class: "text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium w-full" %>
  </p>
</div>
