<% content_for :title, "Hotels" %>
<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% if @user && (@user.hotel_owner? || @user.admin?) %>
    <div class="flex justify-between items-center flex-wrap">
      <h1 class="font-bold text-4xl"><%= t('hotel.hotels.plural') %></h1>
      <button class="btn btn-secondary">
        <%= link_to t('hotel.new_hotel'), new_hotel_path, class: "font-medium" %>
      </button>
    </div>
  <% end %>
  <div id="hotels" class="flex flex-row gap-3 flex-wrap justify-center md">
    <% if @hotels.any? %>
      <% @hotels.each do |hotel| %>
        <%= render hotel %>
      <% end %>
    <% else %>
      <p class="text-center my-10"><%= t('hotel.hotels.zero') %></p>
    <% end %>
  </div>
</div>
