<html>
  <!DOCTYPE html>
  <head>
    <title><%= content_for(:title) || "Awaza" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
    <meta name="turbo-refresh-scroll" content="preserve">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= vite_javascript_tag "comments", defer: true %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "application", defer: true %>

  </head>
  <body>
    <%= render(NavBarComponent.new) %>
    <main class="m-2 mt-20">
      <%= yield %>
    </main>
  </body>
</html>
